spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/taskmanager
    username: admin
    password: secret123
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: validate
    show-sql: true

  flyway:
    enabled: true

springdoc:
  swagger-ui:
    path: /swagger-ui.html

server:
  port: 8080